
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

.wrapper {
    max-width: 914px;
    margin: 0 auto;
}

body {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000;
}

li {
    list-style: none;
}

.header_name {
    flex-direction: column;
    font-size: 24px;
    line-height: normal;
    margin-right: 65px;
    font-weight: 700;
    margin-bottom: 23px;
}

.header_logo-link {
    display: absolute;
    flex-direction: column;
    flex-shrink: 0;
    text-decoration: none;
    font-size: 80px;
    line-height: normal;
}

.header_wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}

.header_list {
    display: flex;
    flex-wrap: wrap;
}

.header_item {
    margin-right: 30px;
    margin-top: 5px;
}

.header_link {
    font-size: 14px;
    line-height: normal;
    color:#000;
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
}

.header_link:hover, .header_link:focus, .header_link:active {
    opacity: .75;
}

.product-box {
    text-align:center;
    align-items: center;
    float: left;
    margin-top:97px;
    margin-right: 80px;
    position: relative; 
}

@media screen and (max-width: 998px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}