{% extends 'catalog/base.html' %}
{% block content %}

<div class="container main">
    {% for product in products %}
    <div style="margin-right: 80px; position: relative;">
        <a href="{% url 'product:detail' product.id %}" class="product-pic"><img src='{{ product.images.first.image.url }}' alt='product-img' class="product-pic"></a>
        <div class="product-details">
            <a href="{% url 'product:detail' product.id %}" class="product-detail"><p>{{ product.title }} </p></a>
            <a href="{% url 'product:detail' product.id %}" class="product-detail"><p>{{ product.price }} р.</p></a>
        </div>        
    </div>
    {% endfor %}
</div>



{% endblock %}