{% extends 'catalog/base.html' %}
{% block content %}




<h1 style="text-align: center; margin-top: 80px;">Условия оплаты и доставки <br>
Доставка идет дополнительно к цене товара </h1>


<h3 style=" text-align: center; margin-top: 50px; font-weight: 700;">Форму для доставки клиент заполняет при покупке товара</h3>

<ul style='text-align: center; font-size: 20px; font-weight: 500;'>
   <li class='info_item'>ФИО</li>
   <li class='info_item'>Страна</li> 
   <li class='info_item'>Адрес</li> 
   <li class='info_item'>Почтовый индекс</li> 
   <li class='info_item'>Номер телефона</li> 

</ul>

<h3 style="text-align: center; margin-top: 2%;">После чего товар отправляется в CDEK до вашего пункта выдачи / курьером</h3>

<h2 style="text-align: center; font-weight: 700; margin-top: 200px;">Реквизиты счёта</h2>
<p style="text-align: center; font-size: 18px;">
    Реквизиты счета
Полное наименование организации " "<br>
ИНН " "<br>
Расчетный счет " "<br>
Банк АО " "<br>
Юридический адрес банка " "<br>
Корр. счет банка " "<br>
ИНН банка " "<br>
БИК банка " "<br>
</p>


{% endblock %}